<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title inertia>Fortuna</title>

    @vite(['inertia/app.ts'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="bg-body-tertiary">
    @inertia()
  </body>

</html>
