<div class="p-3">
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action" href="/dashboard">Dashboard</a>
    <a class="list-group-item list-group-item-action" href="#">Accounts</a>
    <a class="list-group-item list-group-item-action" href="#">Categories</a>
    <a class="list-group-item list-group-item-action" href="#">Payees</a>
    <a class="list-group-item list-group-item-action" href="#">Transactions</a>
    <a class="list-group-item list-group-item-action" href="#">Transfers</a>
    <a class="list-group-item list-group-item-action" href="#">Recurring</a>
    <a class="list-group-item list-group-item-action" href="#">Budgets</a>
    <a class="list-group-item list-group-item-action" href="#">Credit Cards</a>
    <a class="list-group-item list-group-item-action" href="#">Shopping Lists</a>
    <a class="list-group-item list-group-item-action" href="#">Settings</a>
  </div>
</div>
