.app-input {
  display: flex;
  flex-direction: column;
  gap: 0rem;

  > label {
    display: flex;
    flex-direction: row;
    gap: 0.175rem;
    align-items: center;
    padding: 0;
    margin: 0;

    > .star {
      font-size: 0.765rem;
    }
  }

  > .group {
    display: flex;
    flex-direction: row;
    gap: 0rem;
  }

  > .messages {
    display: flex;
    flex-direction: column;
    gap: 0.175rem;
    font-size: 0.765rem;
  }
}
