* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0px;

  > app-root {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

.table-fit-column {
  width: 1px;
  white-space: nowrap;
}

.table-fix-search {
  --bs-focus-ring-color: transparent;
}
