<form class="d-flex flex-column gap-3" [formGroup]="form">
  <div>
    <label for="inputGroup" class="form-label">
      <span>{{ i18n.t('common.group') }}</span>
    </label>
    <input type="number" min="1" class="form-control" id="inputGroup" formControlName="group" />
    @if (validate('group', 'required')) {
      <small class="text-warning">{{ i18n.t('registers.types.required_group') }}</small>
    }
    @if (validate('group', 'min')) {
      <small class="text-warning">{{ i18n.t('registers.types.min_group') }}</small>
    }
  </div>
  <div>
    <label for="inputName" class="form-label">
      <span>{{ i18n.t('common.name') }}</span>
    </label>
    <input type="text" class="form-control" id="inputName" formControlName="name" />
    @if (validate('name', 'required')) {
      <small class="text-warning">{{ i18n.t('registers.types.required_name') }}</small>
    }
  </div>
</form>
