<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle fs-6 py-1"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span>{{ i18n.t(menuConfig.i18nLabel) }}</span>
  </a>
  <ul class="dropdown-menu">
    @for (item of menuConfig.items; track item.id) {
      @if (item.type === 'checkbox') {
        <div class="dropdown-item d-flex gap-2 fs-6 py-1">
          <input
            (change)="item.change($event, item)"
            [checked]="item.checked()"
            [id]="item.id"
            [value]="item.value"
            class="form-check-input"
            type="checkbox"
          />
          <label class="form-check-label" [for]="item.id">
            <span>{{ i18n.t(item.i18nLabel) }}</span>
          </label>
        </div>
      }

      @if (item.type === 'link') {
        <li>
          <a class="dropdown-item fs-6 py-1" [routerLink]="item.href">
            <span>{{ i18n.t(item.i18nLabel) }}</span>
          </a>
        </li>
      }

      @if (item.type === 'divider') {
        <li><hr class="dropdown-divider" /></li>
      }
    } @empty {
      <li class="dropdown-item">No menu items</li>
    }
  </ul>
</li>
