@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './theme.css';
@import './assets/styles/input.css';
@import './assets/styles/button.css';

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  background-color: var(--color-background);
  color: var(--color-foreground);

  app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }
}
