@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'lucide-static/font/lucide.css';

@layer theme {
  @theme {
    --font-sans:
      'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    --font-serif: 'Roboto Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
      'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    --color-app: var(--color-slate-800);
    --color-app-light: var(--color-slate-300);
    --color-app-dark: var(--color-slate-950);
    --color-app-destak: var(--color-yellow-500);
    --color-app-action: var(--color-yellow-400);
  }
}
