<footer
  class="bg-body-tertiary border-top px-3 py-2 d-flex gap-1 justify-content-between align-items-center"
>
  <div class="d-flex gap-2 align-items-center">
    @for (item of service.items; track item.id) {
      @if (item.type === 'button') {
        <button
          type="button"
          [class]="['btn', 'btn-sm', `btn-${item.variant}`]"
          (click)="item.click($event, item.details)"
        >
          <span>{{ item.label }}</span>
        </button>
      }
    }
  </div>
  @if (service.enabledSearch()) {
    <form class="d-flex gap-1" role="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="input-group input-group-sm">
        <input
          class="form-control"
          type="search"
          [placeholder]="i18n.t('common.search')"
          [aria-label]="i18n.t('common.search')"
          aria-describedby="basic-addon2"
          formControlName="search"
          (input)="onSearchInput($event)"
        />
        <button class="btn btn-sm btn-secondary input-group-text" id="basic-addon2" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  }
</footer>
