.app-container {
  flex: 1;
  padding: 0px;
  margin: 0px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0px;

  > header,
  footer {
    flex: 0;
  }

  > main {
    flex: 1;
    overflow-y: auto;
  }
}
