<!DOCTYPE html>
<html lang="en-us" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title || 'Fortuna' }}</title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="bg-body-tertiary">
    @include('partials/navbar')

    <div class="container-fluid">
      <div class="row">
        <aside class="col-12 col-lg-3 col-xl-2 border-end bg-body min-vh-100 p-0">
          @include('partials/sidebar')
        </aside>
        <main class="col-12 col-lg-9 col-xl-10 p-4">
          @include('partials/flash')
          {{{ await $slots.main() }}}
        </main>
      </div>
    </div>
  </body>
</html>
