$color-background: black;
$color-foreground: white;
$color-destak: cyan;

$font-family: Roboto, 'Helvetica Neue', sans-serif;
$font-size: 16px;

$border-size: 1px;
$border-style: solid;
$border-color: $color-foreground;
$border-color-destak: $color-destak;

$gap: 4px;
$gap-md: 8px;
$gap-lg: 12px;
