@utility app-button {
  @apply flex gap-1 items-center justify-center;
  @apply px-2 py-1 text-xs uppercase cursor-pointer app-duration;
  margin: 0.1rem;

  @apply border border-app-light;
  outline: 1px solid var(--color-app-light);
  outline-offset: 0.1rem;

  @apply bg-app-dark text-app-light;
  @apply hover:bg-app-light hover:text-app-dark;
  @apply active:bg-app-light/80 active:border-app-light/80 active:outline-app-light/80;
}
